{% extends 'base.html.twig' %}

{% block title %}Resume statistics{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Resume statistics</h2>
        <div class="card">
            <div class="card-body">
            {% if ratings|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Position</th>
                            <th class="text-center">Positive feedbacks amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in ratings %}
                        <tr>
                            <td class="text-center"><b>{{ rating.id }}</b></td>
                            <td class="text-center"><b>{{ rating.position }}</b></td>
                            <td class="text-center"><b>{{ rating.sum }}</b></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        No feedbacks were found
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
