{{ form_start(form) }}
<div class="row g-5 mb-3">
    <div class="col mx-4">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col mx-4">
        {{ form_row(form.website, {'attr': {'class': 'form-control' }}) }}
    </div>
</div>
<div class="row g-5">
    <div class="col mx-4">
        {{ form_row(form.address, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col mx-4">
        {{ form_row(form.phone, {'attr': {'class': 'form-control' }}) }}
    </div>
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-success mt-3">{{ button_label|default('Save') }}</button>
<div>