{% extends 'base.html.twig' %}

{% block title %}New company{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 mb-3">Create company</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary float-right mb-3" href="{{ path('company_index') }}"> 
                    View all
                </a>
                {{ include('company/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
