{% extends 'base.html.twig' %}

{% block title %}Company details{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Company Details</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary float-right mb-3" href="{{ path('company_index') }}"> 
                    View all
                </a>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ company.name }}<td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td>{{ company.website }}<td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ company.address }}<td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ company.phone }}<td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
