{% extends 'base.html.twig' %}

{% block title %}Edit company{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 mb-3">Edit company</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary float-right mb-3" href="{{ path('company_index') }}"> 
                    View all
                </a>
                {% include 'company/_form.html.twig' with {'button_label': 'Update'}  %}
            </div>
        </div>
    </div>
{% endblock %}
