{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Companies</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary mb-3" href="{{ path('company_create') }}"> 
                    Add company 
                </a>
                {% if companies|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Website</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Phone</th>
                                <th width="240px" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in companies %}
                            <tr>
                                <th class="text-center">{{ company.id }}</th>
                                <td>{{ company.name }}</td>
                                <td>{{ company.website }}</td>
                                <td>{{ company.address }}</td>
                                <td>{{ company.phone }}</td>
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="btn btn-info text-white mr-3" href="{{ path('company_details', {'id': company.id}) }}">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-success mr-3" href="{{ path('company_edit', {'id': company.id}) }}">Edit</a>
                                        </div>
                                        <div>
                                            <form method="post" action="{{ path('company_delete', {'id': company.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        List of companies is empty
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
