{{ form_start(form) }}
<div class="row g-5 mb-3">
    <div class="col mx-4">
        {{ form_row(form.isPositive, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col mx-4">
        {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row g-5">
    <div class="col mx-4">
        {{ form_row(form.companyId, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col mx-4">
        {{ form_row(form.resumeId, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
{% if error != "" %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
{% endif %}
<div class="d-flex justify-content-end">
    <button class="btn btn-success mt-3">{{ button_label|default('Save') }}</button>
<div>
{{form_end(form) }}