{% extends 'base.html.twig' %}

{% block title %}New Resume Feedback{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 mb-3">Create resume feedback</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('resume_feedback_index') }}"> 
                    View all
                </a>
                 {{ include('resume-feedback/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
