{% extends 'base.html.twig' %}

{% block title %}Resume feedback details{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Resume Feedback Details</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('resume_feedback_index') }}"> 
                    View all
                </a>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Company</th>
                            <td>{{ resumeFeedback.company.name }}</td>
                        </tr>
                        <tr>
                            <th>Resume</th>
                            <td><a class="btn btn-sm btn-secondary active" target="_blank" href="{{ path('resume_details', {'id': resumeFeedback.resume.id}) }}">{{ resumeFeedback.resume.position }}</a></td>
                        </tr>
                        <tr>
                            <th>Is feedback positive?</th>
                            <td>{% if resumeFeedback.isPositive %} <b>Yes</b> {% else %} <b>No</b> {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ resumeFeedback.date|date('Y-m-d H:i:s') }}<td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

