{% extends 'base.html.twig' %}

{% block title %}Edit Resume Feedback{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit resume feedback</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('resume_feedback_index') }}"> 
                    View all
                </a>
                {% include 'resume-feedback/_form.html.twig' with {'button_label': 'Update'}  %}
            </div>
        </div>
    </div>
{% endblock %}
