{% extends 'base.html.twig' %}

{% block title %}Resume feedbacks{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Resume feedbacks</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary mb-3" href="{{ path('resume_feedback_create') }}"> 
                    Add feedback 
                </a>
                    {% if resumeFeedbacks|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Company</th>
                                <th class="text-center">Resume</th>
                                <th class="text-center">Positive</th>
                                <th class="text-center">Date</th>
                                <th width="240px" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resumeFeedback in resumeFeedbacks %}
                            <tr>
                                <th class="text-center">{{ resumeFeedback.id }}</th>
                                <td class="text-center">{{ resumeFeedback.company.name }}</td>
                                <td class="text-center"><a class="btn btn-sm btn-secondary active" target="_blank" href="{{ path('resume_details', {'id': resumeFeedback.resume.id}) }}">{{ resumeFeedback.resume.position }}</a></td>
                                <td class="text-center">{% if resumeFeedback.isPositive %} <b>Yes</b> {% else %} <b>No</b> {% endif %}</td>
                                <td class="text-center">{{ resumeFeedback.date|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="btn btn-info text-white mr-3" href="{{ path('resume_feedback_details', {'id': resumeFeedback.id}) }}">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-success mr-3" href="{{ path('resume_feedback_edit', {'id': resumeFeedback.id}) }}">Edit</a>
                                        </div>
                                        <div>
                                            <form method="post" action="{{ path('resume_feedback_delete', {'id': resumeFeedback.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resumeFeedback.id) }}">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        List of resume feedbacks is empty
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
