{% set route= app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link{% if route matches '{^company}' %} active{% endif %}" href="{{ path('company_index') }}">Companies</a>
      </li>
      <li class="nav-item">
          <a class="nav-link{% if route matches '{^resume_feedback}' %}{% elseif route matches '{^resume}' %} active{% endif %}" href="{{ path('resume_index') }}">Resumes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link{% if route matches '{^resume_feedback}' %} active{% endif %}" href="{{ path('resume_feedback_index') }}">Resume feedbacks</a>
      </li>
      <li class="nav-item">
          <a class="nav-link{% if route == 'statistics_index' %} active{% endif %}" href="{{ path('statistics_index') }}">Statistics</a>
      </li>
      </ul>
  </div>
</nav>