
{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.position, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.hasFile) }}
</div>
<div id="froala-area" class="form-group" hidden>
    {% if resume.text is null %}
        {{ froala_display("") }}
    {% else %}
        {{ froala_display(resume.text) }}
    {% endif %}
    {{ form_row(form.text, {'attr': {'class': 'form-control'}}) }}
</div>
<div id="file-input" class="form-group" hidden>
    {{ form_row(form.fileName, {'attr': {'class': 'form-control'}}) }}
</div>
 {% if resume.fileName is not null %}
    <a target="_blank" href="{{ asset('uploads/resumes/' ~ resume.fileName) }}" class="btn btn-primary active" role="button" aria-pressed="true">View uploaded resume</a>
{% endif %}
<div class="d-flex justify-content-end">
    <button class="btn btn-success mt-3">{{ button_label|default('Save') }}</button>
<div>
{{ form_end(form) }}