{% extends 'base.html.twig' %}

{% block title %}New resume{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/resume.page.js') }}"></script>
{% endblock %}    

{% block body %}
    <h2 class="text-center mt-5 mb-3">Create resume</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('resume_index') }}"> 
                    View all
                </a>
                 {{ include('resume/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

