{% extends 'base.html.twig' %}

{% block title %}Resume details{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Resume Details</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('resume_index') }}"> 
                    View all
                </a>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Position</th>
                            <td>{{ resume.position }}<td>
                        </tr>
                        {% if resume.hasFile %}
                        <tr>
                            <th>Resume:</th>
                            <td><a target="_blank" href="{{ asset('uploads/resumes/' ~ resume.fileName) }}" class="btn btn-sm btn-primary active" role="button" aria-pressed="true">View uploaded resume</a></td
                        </tr>
                        {% else %}
                        <tr>
                            <th>Resume:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ resume.text | raw }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Created at</th>
                            <td>{{ resume.createdAt|date('Y-m-d H:i:s') }}<td>
                        </tr>
                        <tr>
                            <th>Updated at</th>
                            <td>{{ resume.updatedAt|date('Y-m-d H:i:s') }}<td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-success mr-3" href="{{ path('resume_feedback_create', {'resumeId': resume.id}) }}">Add feedback</a><td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

