{% extends 'base.html.twig' %}

{% block title %}Edit resume{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/resume.page.js') }}"></script>
{% endblock %}    

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit resume</h2>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('resume_index') }}"> 
                    View all
                </a>
                {% include 'resume/_form.html.twig' with {'button_label': 'Update'}  %}
            </div>
        </div>
    </div>
{% endblock %}

