{% extends 'base.html.twig' %}

{% block title %}Resumes{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Resumes</h2>
        <div class="card">
            <div class="card-body">
            <a class="btn btn-primary mb-3" href="{{ path('resume_create') }}"> 
                Add resume 
            </a>
                {% if resumes|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th>Position</th>
                                <th class="text-center">Uploaded file</th>
                                <th class="text-center">Created</th>
                                <th class="text-center">Updated</th>
                                <th width="240px" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resume in resumes %}
                            <tr>
                                <th class="text-center">{{ resume.id }}</th>
                                <td>{{ resume.position }}</td>
                                <td class="text-center">{% if resume.hasFile %} <b>Yes</b> {% else %} <b>No</b> {% endif %}</td>
                                <td class="text-center">{{ resume.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center">{{ resume.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="btn btn-info text-white mr-3" href="{{ path('resume_details', {'id': resume.id}) }}">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-success mr-3" href="{{ path('resume_edit', {'id': resume.id}) }}">Edit</a>
                                        </div>
                                        <div>
                                            <form method="post" action="{{ path('resume_delete', {'id': resume.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resume.id) }}">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                      List of resumes is empty
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
